{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": "umd"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-spread",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ]
}
